.transactionHistory {
    margin: 20px;
    width: 600px;
    border-radius: 10px;
    margin: 35px auto;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
}

.transactionHistory:hover {
    -webkit-box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.4);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.transactionHistory thead {
    text-align: center;
    background-color: aqua;
    height: 25px;
    color: white;
}

.transactionHistory thead tr {
    text-transform: uppercase;
}

.transactionHistory thead tr th:first-of-type {
    border-top-left-radius: 10px;
}

.transactionHistory thead tr th:last-of-type {
    border-top-right-radius: 10px;
}

.transactionHistory tbody {
    text-align: center;
}

.transactionHistory tbody tr {
    height: 25px;
}

.transactionHistory tbody tr:hover {
    background-color: rgba(255, 255, 0, 0.8);
}

.transactionHistory tbody tr td {
    text-transform: capitalize;
}

.transactionHistory tbody tr:nth-child(odd) {
    background-color: rgba(128, 128, 128, 0.2);
}

.transactionHistory tbody tr:nth-child(odd):hover {
    background-color: rgba(255, 255, 0, 0.8);
}

.transactionHistory tbody tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 10px;
}

.transactionHistory tbody tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 10px;
}

